{% extends "book/base.html" %}

{% block content %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
      {% for loan in loans  %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <h4 class="card-title">{{ loan.book }}</h4>
              {% if loan.book.magazine == False  %}
              <p class="card-text">Book</p>
              {% endif %}
              {% if loan.book.magazine == True  %}
              <p class="card-text">Magazine</p>
              {% endif %}
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="{% url 'book:returnBook' %}" method="POST">
                    {% csrf_token %}
                    <input name="id" value={{loan.id}} hidden />
                    <button class="btn btn-sm btn-outline-secondary">Return</button>
                  </form>
                </div>
                <small class="text-muted">Expire date: {{loan.endDate}}</small>
              </div>
            </div>
          </div>
        </div>
      {% endfor  %}
      </div>
    </div>
  </div>
{% endblock %}